{% extends 'base.html' %}

{% block title %}

    Страница добавления / изменения заметки.

{% endblock %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a href="{{ request.GET.next }}" class="backButton"><i class="fa-solid fa-backward"></i></a>
            <br>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert--error">
                            <p class="alert__message text-center">
                                {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label>{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="form__field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                </div>

                <input type="submit" value="Отправить" class="btn btn--sub btn--lg my-md">
            </form>
        </div>
    </div>
</main>

{% endblock %}